<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Best Movies</title>
<link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.1.3/css/bootstrap.min.css}"/>
</head>
<body>
    <div class="container">
        <h2>Best Movies</h2>
        <ul>
            <li th:each="movie : ${movies}">
				<a th:replace="fragments :: button-nav(@{/movies/{id}(id=${movie.id})}, 'more detail')"></a>
            </li>
        </ul>
        <p><a href="/">Back to Home</a></p>
    </div>
    
    <script th:src="@{/webjars/bootstrap/5.1.3/js/bootstrap.bundle.min.js}"></script>
</body>
</html>